FrontEnd/.DS_Store
FrontEnd/node_modules
FrontEnd/dist

# local env files
FrontEnd/.env.local
FrontEnd/.env.*.local

# Log files
FrontEnd/npm-debug.log*
FrontEnd/yarn-debug.log*
FrontEnd/yarn-error.log*
FrontEnd/pnpm-debug.log*

# Editor directories and files
FrontEnd/.idea
FrontEnd/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Backend 

Backend/Api/bin
Backend/Api/obj

Backend/Business/bin
Backend/Business/obj

Backend/Core/bin
Backend/Core/obj

Backend/Entities/bin
Backend/Entities/obj

Backend/SpotifyApi/bin
Backend/SpotifyApi/obj