
@font-face{
    font-family: "Font";
    src: url('./fonts/circular-black.ttf');
}



:root {
    --Primary-color: #212121;
    --Secondary-color: #1db954;
    --Tertiary-color: #121212;
    --Quaternary-color: #535353;
    --Quinary-color: #F5F5DC;
    overflow-x: hidden;
}

div {
    font-family: "Font", sans-serif;
}

button {
    font-family: "Font", sans-serif;
}

